<!-- Modal -->
<div class="modal fade" id="modalOrderMeal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
            {{ form_start(form, {'action': url('orderMealModal', {mealID : mealID}),'method': 'POST'}) }}

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Réservez votre repas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Nombre de places ({{ meal.numberPlaces }} places restantes)</p>
                {{ form_widget(form.numberPlaces, {'attr': {'style': 'padding-left: 5%; margin-right: 45%;'}}) }}
            </div>
            {{ form_errors(form) }}
            <span class="pull-right center" style="align-items: center; padding-left: 10%;">
                {{ form_widget(form.reserver, {'label': 'Suivant', 'translation_domain': 'messages', 'attr': {'class': 'btn btn-primary'}}) }}
            </span>
            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <p>{{ form_rest(form) }}</p>
            </form>

        </div>
    </div>
</div>

