{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<br><br>
<div class="container-fluid row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password sizeText3' } }) }}


        {{ form_label(form.current_password, 'Entrez votre mot de passe actuel') }}<br>
        {{ form_widget(form.current_password) }}
        {{ form_errors(form.current_password) }}<br>


        {{ form_label(form.plainPassword.first, 'Entrez votre nouveau mot de passe') }}<br>
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}<br>


        {{ form_label(form.plainPassword.second, 'Confirmez votre nouveau mot de passe') }}<br>
        {{ form_widget(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}<br>

        {{ form_widget(form) }}<br>
        <div class="center">
            <input class="btn btn-primary form-control" type="submit" value="{{ 'Modifier'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>